{% block jumbotron %}
<style type="text/css">
	.jumbotron{
		text-align: center;
	}

</style>
<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Ardhi Security </h1>
        <p>This is a template showcasing the public ledger of our land security website dubbed as Ardhi Security. This is the starting point to ensuring the validity of your land and to ensure that your land is not illegally acquired and to also ensure that you get a valid title deed.</p>
      </div>
{% endblock %}