<!DOCTYPE html>
<html lang="en">
    <title>introduction </title>

<body style="text-align: center; margin-top: 100px;">

	<form action="/profiles/deed/" method="get" enctype="multipart/format-data">
           <!-- put the name of the album title-->
           <div class="form-group">
            <input  class="form-control" name="owners_name" placeholder="Enter Name">
           </div>&nbsp;&nbsp;&nbsp;&nbsp;

           <div class="form-group">
            <input  class="form-control" name="ref_no" placeholder="Enter ref_no">
           </div>&nbsp;&nbsp;&nbsp;&nbsp;

           <div class="form-group">
            <input  class="form-control" name="demographic" placeholder="Enter demographic">
           </div>&nbsp;&nbsp;&nbsp;&nbsp;
           <div class="form-group">
            <input  class="form-control" name="size" placeholder="Enter size">
           </div>&nbsp;&nbsp;&nbsp;&nbsp;

          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Add to newsong">
         </div>
    </form>
</body>
</html>